<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Test" >
    <listeners>
            <listener class-name = "resourses.listeners" />
    </listeners>
    <test name = "Tool QA" >
        <classes>
            <class name = "GroupID.CheckAllLinks" />
        </classes>
    </test>
</suite>